<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url("background3.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }
        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px blue;
        }
        .cont {
            position: relative;
            left: 600px;
            top: 50px;
            color: white;
            -webkit-text-stroke: 0.5px black;
        }
        .container1 {
            position: fixed;
            left: 50px;
            top: 150px;
            color: white;
        }
        .container2 {
            position: fixed;
            left: 200px;
            top: 150px;
            color: white;
        }
        .container3 {
            position: fixed;
            left: 350px;
            top: 150px;
            color: white;
        }
        .readlist {
            position: fixed;
            left: 80px;
            top: 370px;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>forget_password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        
        </style>
</head>
<body>
    <form  method="post">
        <br><br><br><br>
        <h1 style="color: aliceblue;">forget_password</h1>
    <div>
        <label style="color: beige;" for="email" > Email </label>
        <input type ="email" name = "email" id ="email" placeholder="Enter your email" required>
    </div>
    <div>
        <button type ="submit">Sumbit</button>>
    </div>


    </form>
</body>
</html>